# Topic: Variables, data types, operators, input/output. 
# Problems: 
## a) Write a program to calculate mean, median, and mode of three numbers. 
## b) Convert temperature dataset from Celsius to Fahrenheit. 
## c) Parse a string of comma-separated numbers into a list of floats.

## Program to calculate mean, median and mode of three numbers

In [4]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
nums = [a,b,c]
mean_val = sum(nums)/3
median_val = sorted(nums)[1] #3 gives middle value 
if a == b or a == c:
    mode_val = a
elif b == c:
    mode_val = b
else:
    mode_val = "No Mode"
print("Mean: ",mean_val)
print("Median: ",median_val)
print("Mode: ",mode_val)

Enter first number:  12
Enter second number:  4
Enter third number:  4

Mean:  6.666666666666667
Median:  4.0
Mode:  4.0

## Convert temperature dataset from celsius to farenheit
## Formula F = (C*9/5)+32

In [7]:
celsius_dataset = [0,25,37,100,-10]
farenheit_dataset = [(temp*9/5)+32 for temp in celsius_dataset] #list comprehension
print("Temperature in celsius: ", celsius_dataset)
print("Temperature in farenhiet: ",farenheit_dataset)

Temperature in celsius:  [0, 25, 37, 100, -10]
Temperature in farenhiet:  [32.0, 77.0, 98.6, 212.0, 14.0]

## Parse a string of comma separated numbers into a list of floats

In [ ]:
dataset = input("Enter comma separated numbers: ")
float_dataset = [float(x) for x in dataset.split(",")] #split() converts string ->list of substrings 
print("List of floates: ", float_dataset)

Enter comma separated numbers:  12,4.4,34,2,2

List of floates:  [12.0, 4.4, 34.0, 2.0, 2.0]

In [ ]:
print("Bye...")